<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="images/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title> SpaceAR: About Us </title>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
    <a class="navbar-brand" href="index.html"> Space<span style="color: #7700ff ">AR</span></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-md-auto">
        <li class="navbar-item">
          <a class="nav-link" href="museum.html"> Museum </a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" href="aboutus.html"> About Us </a>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <h1 class="text-center" style="padding: 1% 0px; position: relative; top: 10px">About<span style="color: #7700ff ">
      US</span></h1>
  <hr>

  <p class="text-center" style="padding: 2%;">SPACE<span style="color: #7700ff ">AR</span> is an immerisve augmented
    reality webpage that provides users the ability to view the planets in the solar system. <br> The team that worked
    on this page are:</p>

  <table class="table">
    <tbody>
      <tr>
        <td style="border: none;">
          <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
            <div class="card"
              style="max-width: 22rem; margin: 0px auto; border-radius: 7px; background-color: #000000;text-shadow: 2px 2px 5px black;">
              <div class="card-header">
                <h4 style="	color: white;">Yaw Apraku</h4>
                <small style="	color: rgb(155, 155, 155);">yaw.apraku33@gmail.com</small>
              </div>
              <div class="card-body">
                <img width="200px" src="images/yaw.png">
                <hr style="color: white;">
                <h4 class="card-title" style="color: white; ">Full stack engineer</h4>
              </div>
              <ul style="font-size: 14px; color: white; text-align: left; padding-right: 1%;">
                <li>Worked with the team on the front-end development.</li>
                <li>Used HTML,CSS, and Bootstrap to build front end.</li>
                <li>Assisted with the echoAR technology to develop 3D planets</li>
                <li>Sourced facts about the various planets</li>
                <li>Implemented Responsive and Flat Design technique to make the website clean and simple.</li>
                <li></li>
              </ul>

              <div style=" padding-left:3%; padding-right:3%; padding-top: 9%; padding-bottom: 3%;">
                <a href="https://www.linkedin.com/in/yaw-apraku-a820b9167/" class="linkedin"><i
                    class="fa fa-linkedin"></i></a>

                <a href="https://github.com/yapraku" class="github"><i class=" fa fa-github"></i></a>

                <a href="https://www.instagram.com/yaw.oa/" class="instagram"> <i class="fa fa-instagram"></i></a>

              </div>
            </div>
          </div>
          </div>

        </td>

        <td style="border: none;">
          <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
            <div class="card"
              style="max-width: 22rem; margin: 0px auto; border-radius: 7px; background-color: #000000;text-shadow: 2px 2px 5px black;">
              <div class="card-header">
                <h4 style="	color: white;">Avram Baicu</h4>
                <small style="	color: rgb(155, 155, 155);">avram2234@gmail.com</small>
              </div>
              <div class="card-body">
                <img width="200px" src="images/avram.png">
                <hr style="color: white;">
                <h4 class="card-title" style="color: white; ">Front end engineer/Project Manager</h4>
              </div>
              <ul style="font-size: 14px; color: white; text-align: left; padding-right: 1%;">
                <li>Was in charge of the front-end.</li>
                <li>Used HTML,CSS, and Bootstrap to develop the website.</li>
                <li>Managed the UI/UX.</li>
                <li>Connected front end of the QR codes.</li>
                <li>Implemented Responsive and Flat Design technique to make the website clean and simple.</li>
                <li>Worked on browser testing to make sure the webpage is fitting.</li>
                <li>Made sure that the team stayed on track.</li>
              </ul>

              <div style=" padding-left:3%; padding-right:3%; padding-top: 9%; padding-bottom: 3%;">

                <a href="https://www.linkedin.com/in/avram-baicu-56a1aa132/" class="linkedin"><i
                    class="fa fa-linkedin"></i></a>

                <a href="https://github.com/AvramBaicu/" class="github"><i class=" fa fa-github"></i></a>

                <a href="https://www.instagram.com/50_ab/" class="instagram"> <i class="fa fa-instagram"></i></a>

              </div>
            </div>
          </div>
          </div>

        </td>
        <td style="border: none;">
          <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
            <div class="card"
              style="max-width: 22rem; margin: 0px auto; border-radius: 7px; background-color: #000000;text-shadow: 2px 2px 5px black;">
              <div class="card-header">
                <h4 style="	color: white;">Musa Asad</h4>
                <small style="	color: rgb(155, 155, 155);">musaasad.2020@gmail.com</small>
              </div>
              <div class="card-body">
                <img width="200px" src="images/musa.png">
                <hr style="color: white;">
                <h4 class="card-title" style="color: white; ">Full Stack Engineer/Scrum Master</h4>
              </div>
              <ul style="font-size: 14px; color: white; text-align: left; padding-right: 1%;">
                  <li> Wrote scrum document and ensured the framework was followed. </li>
                  <li> Used echoAR to develop 3D models of planets and convert them into scannable QR codes. </li>
                  <li> Contributed to the design and structure of the website. </li>
                  <li> FTP computer to the web server to transfer files that will ultimately run your website.</li>
                  <li> Uploaded the website onto Google Cloud.</li>
                </ul>
              <div style=" padding-left:3%; padding-right:3%; padding-top: 9%; padding-bottom: 3%;">

                <a href="https://www.linkedin.com/in/syedmusaasad/" class="linkedin"><i
                    class="fa fa-linkedin"></i></a>

                <a href="https://github.com/syedmusaasad" class="github"><i class=" fa fa-github"></i></a>


              </div>
            </div>
          </div>
          </div>

   
        <td style="border: none;">
          <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
            <div class="card"
              style="max-width: 22rem; margin: 0px auto; border-radius: 7px; background-color: #000000;text-shadow: 2px 2px 5px black;">
              <div class="card-header">
                <h4 style="	color: white;">Neonidh Singh</h4>
                <small style="	color: rgb(155, 155, 155);">neonidh@gmail.com</small>
              </div>
              <div class="card-body">
                <img width="200px" src="images/neo.png">
                <hr style="color: white;">
                <h4 class="card-title" style="color: white; ">Front End Engineer</h4>
              </div>
              <ul style="font-size: 14px; color: white; text-align: left; padding-right: 1%;">
                <li>Assisted the team with the front-end development.</li>
                <li>Used HTML,CSS, and Bootstrap.</li>
                <li>Worked on Information Architecture to have a well-developed flowing website</li>
                <li>Used creative, professional writing to have a more exciting and engaging.</li>
                <li>Did thorough testing and Diagnosing along with figuring out the solutions for bugs.</li>
                <li>Administered the images onto echoAR</li>
                <li>Was flexible when it came to assisting team members with front and back-end development</li>
              </ul>

              <div style=" padding-left:3%; padding-right:3%; padding-top: 9%; padding-bottom: 3%;">

                <a href="https://www.linkedin.com/in/neonidh-singh-public-trust-clearance-1a672b1b" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/AvramBaicu/" class="github"><i class=" fa fa-github"></i></a>
                <a href="https://www.instagram.com/50_ab/" class="instagram"> <i class="fa fa-instagram"></i></a>

              </div>
            </div>
          </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</body>

<footer>
  <figure class="text-center" style="padding-top: 18%;">
    <hr>
    <p>All rights reserved. SPACE<span style="color: #7700ff ">AR,</span> the SPACE<span
        style="color: #7700ff ">AR</span> logo, and the tag design are trademarks of SPACE<span
        style="color: #7700ff ">AR</span> and its affiliated organizations.</p>
  </figure>

  <figure class="text-center">
    <p>Copyright © 2021 SPACE<span style="color: #7700ff ">AR</span> </p>
  </figure>
</footer>

</html>
<script src="/static/script.js"></script>