<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="html" href="museum.html">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="img/Icon.png">
  <title> SpaceAR: About Us </title>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> Space<span style="color: #7700ff ">AR</span></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav ms-md-auto">

          <li class="navbar-item">
            <a class="nav-link" href="museum.html">museum</a>
          </li>

          <li class="navbar-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</head>

<body>




  <h1 class="text-center" style="padding: 2% 0px">About<span style="color: #7700ff "> US</span></h1>
  <hr>
  <p class="text-center" style="padding: 5%;">SPACE<span style="color: #7700ff ">AR</span> is an immerisve augmented
    reality webpage that provides users the ability to view the planets in the solar system. <br> The team that worked
    on this page are:</p>

  <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
    <div class="row">


      <div class="card text-white bg-dark mb-3" style=" max-width: 20rem;  margin: 0px auto">
        <div class="card-header">Yaw Apraku<br> yapraku@umd.edu</div>
        <div class="card-body">
          <h4 class="card-title"> Assistant </h4>
          <p class="card-text">Worked on the development of the front end of the website and the development of the AR
            planets on the back end.</p>
        </div>
      </div>

      <div class="card " style="max-width: 22rem; margin: 0px auto; border-radius: 7px; background-color: #000000;text-shadow: 2px 2px 5px black;">
        <div class="card-header">
          <h4 style="	color: white;">Avram Baicu</h4>
          <small style="	color: rgb(155, 155, 155);">avram2234@gmail.com</small>
        </div>
        <div class="card-body">
          <img width="200px" src="img/Avram.png" alt="Avram">
          <hr style="color: white;">
          <h4 class="card-title" style="color: white; ">Front end engineer/Project Manager</h4>
          <ul class="text-left" style="font-size: 12px; color: white;">
            <li >Was in charge of the front-end</li>
            <li> Managed the UI/UX </li>
            <li>Connected front end of the QR codes</li>
            <li>Made sure that the team stayed on track</li>
            <li>Used HTML,CSS, and Bootstrap to develop the front end </li>
          </ul>
          
          <ul style= "list-style-type:none; ">
            <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#linkedin" class="linkedin">   
  <i class="fa fa-linkedin"></i>   
  <a href="#instagram" class="instagram">   
    <i class="fa fa-instagram"></i>   
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 21rem;  margin: 0px auto">
        <div class="card-header">Musa Asad<br> musaasad.2020@gmail.com</div>
        <div class="card-body">
          <img width="200px" src="img/Musa.png" alt="Musa">
          <h4 class="card-title">Full Stack Engineer/Scrum Master</h4>
          <ul>
            <li> Wrote scrum document and ensured the framework was followed. </li>
            <li> Used echoAR to develop 3D models of planets and convert them into scannable QR codes. </li>
            <li> Contributed to the design and structure of the website. </li>
            <li> Uploaded the website onto Google Cloud.</li>
          </ul>
         
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;  margin: 0px auto">
        <div class="card-header">Neo Singh<br> neonidh@gmail.com</div>
        <div class="card-body">
          <h4 class="card-title">Front end engineer</h4>
          <p class="card-text">Worked on the development of the front end of the website.</p>
        </div>
      </div>

    </div>
</body>

</div>

</html>
<hr>
<footer>

  <figure class="text-center" style="padding-top: 10%;">
    <p>All rights reserved. SPACE<span style="color: #7700ff ">AR,</span> the SPACE<span
        style="color: #7700ff ">AR</span> logo, and the tag design are trademarks of SPACE<span
        style="color: #7700ff ">AR</span> and its affiliated organizations.</p>
  </figure>

  <figure class="text-center">
    <p>Copyright © 2019 SPACE<span style="color: #7700ff ">AR</span> </p>
    <p> for more details about the project please visit GITHUB</p>
  </figure>

</footer>
<script src="/static/script.js"></script>