<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="images/icon.png">
  <title> SpaceAR </title>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
    <a class="navbar-brand" href="index.html"> Space<span style="color: #7700ff ">AR</span></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-md-auto">
        <li class="navbar-item">
          <a class="nav-link" href="museum.html"> Museum </a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" href="aboutus.html"> About Us </a>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>

  <figure class="text-center" style="padding: 8% 9% 12% 9%;">
    <h2 class="blockquote" style="filter: blur(0px);">Welcome to the SPACE<span style="color: #7700ff ">AR</span>
      Museum.</h2>

    <p style=" font-size: 21px; padding-top: 8%"> Having trouble focusing on astronomy? Do you wan't to get a better
      understanding of what the planets in our solar system look like? Join us in a creative journey
      to learn the planets quickly and cle<span style="color: #7700ff ">AR</span>ly (see what we did there?)</p>

    <div class="d-grid gap-3" style=" padding: 0px 40%">
      <a href="museum.html" class="btn btn-outline-dark" style=" border-radius: 7px; position: relative; top: 125%">
        Click to Enter </a>
    </div>
  </figure>
</body>
<div>
  <footer>
    <figure class="text-center" style="padding-top: 5%;">
      <hr>
      <p>All rights reserved. SPACE<span style="color: #7700ff ">AR,</span> the SPACE<span
          style="color: #7700ff ">AR</span> logo, and the tag design are trademarks of SPACE<span
          style="color: #7700ff ">AR</span> and its affiliated organizations.</p>
    </figure>

    <figure class="text-center">
      <p>Copyright © 2021 SPACE<span style="color: #7700ff ">AR</span> </p>
    </figure>
  </footer>
  <p style="padding-left: 11px;"" > Sources provided from <a href=" https://solarsystem.nasa.gov/planets/overview/"
    style="color: #7700ff ">NASA</a>.</p>
</div>

</html>
<script src="/static/script.js"></script>