<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="img/Icon.png">
  <title> SpaceAR: Museum </title>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"> Space<span style="color: #7700ff ">AR</span></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav ms-md-auto">

          <li class="navbar-item">
            <a class="nav-link" href="museum.html">museum</a>
          </li>

          <li class="navbar-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</head>

<body>



  <p class="text-center" style="padding: 5px;">Welcome to the virtual museum. This is where you can see our solar system
    and get to have an idea of what the sun and the planets.</p>
  <hr>







  <div style="margin-left: center; margin-right:center; top: 4%; text-align: center;">
    <div class="row">


      <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 0 auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter the Sun!</h4>
          <div>
            <p> <img src="img/Sun.png" alt="The Sun!"></p>
          </div>
        </div>
      </div>

      <div class="card bg-secondary mb-3" style="max-width: 20rem; margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Mercury!</h4>
          <div>
            <p> <img src="img/Mercury.png" alt="Mercury!"></p>
          </div>
        </div>
      </div>

      <div class="card text-white bg-success mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Venus!</h4>
          <div>
            <p> <img src="img/Venus.png" alt="Venus!"></p>
          </div>
        </div>
      </div>

      <div class="card text-white bg-danger mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Earth!</h4>
          <div>
            <p> <img src="img/Earth.png" alt="Earth!"></p>
          </div>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Mars!</h4>
          <div>
            <p> <img src="img/Mars.png" alt="Mars!"></p>
          </div>
        </div>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Jupiter!</h4>
          <div>
            <p> <img src="img/Jupiter.png" alt="Jupiter!"></p>
          </div>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Saturn!</h4>
          <div>
            <p> <img src="img/Saturn.png" alt="Saturn!"></p>
          </div>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Uranus!</h4>
          <div>
            <p> <img src="img/Uranus.png" alt="Uranus!"></p>
          </div>
        </div>
      </div>

      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;margin: 0px auto">
        <div class="card-body">
          <h4 class="card-title collapsible">Click to enter Neptune!</h4>
          <div>
            <p> <img src="img/Neptune.png" alt="Neptune!"></p>
          </div>
        </div>
      </div>
      </ul>
    </div>
  </div>
</body>
<footer>

  <figure class="text-center" style="padding-top: 26%;">
    <p>All rights reserved. SPACE<span style="color: #7700ff ">AR,</span> the SPACE<span
        style="color: #7700ff ">AR</span> logo, and the tag design are trademarks of SPACE<span
        style="color: #7700ff ">AR</span> and its affiliated organizations.</p>
  </figure>

  <figure class="text-center">
    <p>Copyright © 2019 SPACE<span style="color: #7700ff ">AR</span> </p>
  </figure>

</footer>

</html>
<script src="/static/script.js"></script>