<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="shortcut icon" href="images/icon.png">
  <title> SpaceAR: Museum </title>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
    <a class="navbar-brand" href="index.html"> Space<span style="color: #7700ff ">AR</span></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-md-auto">
        <li class="navbar-item">
          <a class="nav-link" href="museum.html"> Museum </a>
        </li>

        <li class="navbar-item">
          <a class="nav-link" href="aboutus.html"> About Us </a>
        </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <p class="text-center" style="padding: 10px; position: relative; top: 7.5px;">Welcome to the <span
      style="color: #7700ff ">AR</span> museum. This is where you can see our solar system
    and get to have an idea of what the sun and the planets.</p>
  <hr>

  <div style="padding: 0% 4% 0% 4%;">
    <button type="button" class="collapsible btn">The Sun <img height="20px" src="images/sun-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/sun.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/solar-system/sun/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Earth <img height="20px" src="images/earth-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/earth.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/earth/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Jupiter <img height="20px" src="images/jupiter-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/jupiter.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/jupiter/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Saturn <img height="20px" src="images/saturn-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/saturn.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/saturn/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Neptune <img height="20px" src="images/neptune-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/neptune.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/neptune/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Mars <img height="20px" src="images/mars-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/mars.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/mars/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Uranus <img height="20px" src="images/uranus-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/uranus.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/uranus/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Venus <img height="20px" src="images/venus-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/venus.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/venus/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button type="button" class="collapsible btn">Mercury <img height="20px" src="images/mercury-icon.png"></button>
    <div class="content">
      <table class="table">
        <tbody>
          <tr style="background-color: #7700ff;">
            <td>
              <div class="list-group">
                <img src="images/mercury.png"><br>
                <span class="text-center" style="color: black; vertical-align: middle;"> Scan the QR code to see in AR!
                </span>
              </div>
            </td>
            <td colspan="2">
              <div>
                <iframe src="https://solarsystem.nasa.gov/planets/mercury/overview/" name="Nasa" scrolling="Yes"
                  height="450px" width="100%" style="border: none;"></iframe>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

<footer>
  <figure class="text-center" style="padding-top: 5%;">
    <hr>
    <p>All rights reserved. SPACE<span style="color: #7700ff ">AR,</span> the SPACE<span
        style="color: #7700ff ">AR</span> logo, and the tag design are trademarks of SPACE<span
        style="color: #7700ff ">AR</span> and its affiliated organizations.</p>
  </figure>

  <figure class="text-center">
    <p>Copyright © 2021 SPACE<span style="color: #7700ff ">AR</span> </p>
  </figure>
</footer>
<p style="padding-left: 11px;"> Sources provided from <a href="https://solarsystem.nasa.gov/planets/overview/"
    style="color: #7700ff ">NASA</a>.</p>

</html>
<script src="/static/script.js"></script>